:root {
    --main-bg-color: #E9E4ED;
    --primary-color: #8B5FBF;
    --button-color: #61398F;


  }

/* header style */
nav {
    box-shadow: 1px 3px 4px #ccc;
    -webkit-box-shadow: 1px 3px 4px #ccc;
    -moz-box-shadow: 1px 3px 4px #ccc;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

#menu_top>ul {
    position: relative;
    padding: 0;
    z-index: 2;
}

#menu_top>ul>li {
    float: right;
    height: 40px;
}

#menu_top>ul>li>a {
    padding: 0 10px;
    height: 40px;
    display: block;
    line-height: 36px;
    font-size: 11pt;
}

#menu_top>ul>li>ul {
    position: absolute;
    right: 0;
    background-color: #fff;
    width: 1200px;
    padding: 0;
    box-shadow: 0 2px 3px #aaa;
    display: none;
}

#menu_top>ul>li>ul>li {
    float: right;
}

#menu_top>ul>li>ul>li>a {
    padding: 5px 10px;
    display: block;
}

.menu_down_icon {
    background: rgba(0, 0, 0, 0) url(../public/images/down.png) repeat scroll 0 0;
    display: block;
    float: left;
    height: 4px;
    margin-right: 5px;
    margin-top: 17px;
    width: 7px;
}

.top_menu3_col {

    width: 299px;
    height: 100%;
    float: right;
    border-left: 1px solid #eee;
}

.top_menu3_col .active-menu {

    box-shadow: none;

}

.top_menu3_col_ul li {

    padding-right: 15px;
    cursor: pointer;

}

.top_menu3_col_ul li:hover {

    background: var(--primary-color);;
    color: #fff !important;

}

.top_menu3_col_ul .level3 {

    padding-right: 5px;
    color: #6d95c6;

}

.submenu3 {
    display: none;
    z-index: 3;
}

.active-menu {
    background: #fff;
    box-shadow: 0 -1px 3px #eee;
}

.active-menu>a {
    color: var(--button-color);
}

#menu_top a {
    cursor: pointer;
}

#menu_top_nav {
    width: 100%;
    height: 40px;
    border-top: 1px solid #ecf3f3;
    box-shadow: 0 2px 3px #aaa;
}

@font-face {
    font-family: 'iransans';
    src: url('../public/fonts/IRANSans.ttf') format('truetype');
}

* {
    font-family: iransans !important;
    text-align: right;
    direction: rtl;

}

input[type=text]:focus,
input[type=password]:focus {
    outline: none !important;
}

#banner_top {
    width: 100%;
    height: 138px;
}

#banner_top video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_green {
    background: #36be2b none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #ccc;
    color: #fff;
    display: block;
    font-size: 11pt;
    height: 37px;
    line-height: 34px;
    text-align: center;
    width: 170px;
    border-radius: 4px;
    cursor: pointer;
}

#menu_top ul li {
    color: #fff;
}

#menu_top ul li ul li {
    color: #000;
}

a {
    text-decoration: none;
}

.fontsm {
    font-size: 10.3pt;
}

.fontmd {
    font-size: 11.3pt;
}

.fontlg {
    font-size: 12.3pt;
}

.error {
    border: 1px solid red;
    text-align: center;
    font-size: 12pt;
    color: red;
    padding: 8px;
}

.success {
    border: 1px solid green;
    text-align: center;
    font-size: 12pt;
    color: green;
    padding: 8px;
}

.row2 {
    width: 100%;
    float: right;
    margin-bottom: 10px;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 1px 3px 4px #ccc;
}

.logo {
    margin-top: 45px;
}

/* header style */

/* footer style */
footer {
    height: 300px;
    float: right;
    margin-top: 40px;
    width: 100%;
}

#footer_top {
    height: 45px;
}

#footer_bottom {
    height: 255px;
}

footer .main {
    width: 1200px;
    height: 100%;
    margin: auto;
}

#footer_top span {
    color: #fff;
}

#footer_top i {
    background: url(../public/images/slices.png);
    display: inline-block;
    float: left;
    height: 17px;
    margin-right: 14px;
    margin-top: 10px;
    width: 17px;
}

#footer_top ul {
    padding: 0;
    float: left;
    height: 100%;
}

#footer_top li {
    float: right;
    height: 100%;
    margin-left: 15px;
}

#footer_top li a {
    color: #fff;
    line-height: 42px;
}

#footer_bottom .right {
    width: 220px;
    height: 100%;
    float: right;
}

#footer_bottom .center {
    width: 220px;
    height: 100%;
    float: right;
}

#footer_bottom .left {
    width: 590px;
    height: 100%;
    float: left;
}

#footer_bottom ul li {

    font-size: 11.3pt;
    line-height: 58px;
}

#footer_bottom .title2 {
    font-weight: bold;
}

.signup_inputs div input{
    width: 300px;
    height: 38px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
#footer_bottom .email .btn {
    background: var(--button-color) none repeat scroll 0 0;
    display: block;
    float: left;
    height: 38px;
    margin-left: 28px;
    margin-top: 2px;
    width: 110px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    text-align: center;
    color: #fff;
    line-height: 32px;
    font-size: 10pt;
}

footer .social {
    float: left;
    margin-top: 26px;
    width: 100%;
}

footer .social img {
    float: left;
    margin-left: 4px;
}

.social_button {
    width: 28px;
    height: 28px;
    display: block;
    float: right;
    background: url(../public/images/slices.png);
    margin-right: 4px;
}

/* footer style */

/* addcomment style */
#main::after {
    content: " ";
    clear: both;
    display: block;
}

.btn_green {
    background: #36be2b none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #ccc;
    color: #fff;
    display: block;

    font-size: 11pt;
    height: 37px;
    line-height: 34px;
    text-align: center;
    width: 170px;
    border-radius: 4px;
    cursor: pointer;
}

#main>form>.right {
    width: 350px;
    float: right;

}

#main>form>.left {
    width: 815px;
    float: left;
}

.left .right {
    width: 350px;
    float: right;
}

.left .left {
    width: 350px;
    float: right;
    margin-right: 20px;
}

.row2 {
    width: 100%;
    float: right;
    margin-bottom: 40px;
}

p {}

.row2 p {
    font-size: 10.5pt;
}

.commentinput {
    width: 300px;
    height: 23px;
    border: 1px solid #ccc;

    font-size: 10.5pt;
}

.comment {
    float: right;
    width: 100%;
    padding: 0 20px;
}

.comment .row2 {
    margin-top: 15px;
}

.comment textarea {
    width: 400px;
    height: 200px;
    border: 1px solid #ccc;
}

/* addcomment style */

/* checkout creditcard style */

#main::after {
    content: " ";
    clear: both;
    display: block;
}

#main {}

.head {
    float: right;
    margin-top: 36px;
    width: 100%;
}

.head h4 {
    font-size: 12.5pt;
    margin-top: 5px;
    padding-right: 10px;
    float: right;
}

.btn_green {
    background: #36be2b none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #ccc;
    color: #fff;
    display: inline-block;

    font-size: 11pt;
    height: 37px;
    line-height: 34px;
    text-align: center;
    width: 170px;
    border-radius: 4px;
    cursor: pointer;
}

.head .btn_green {
    float: left;
    margin-left: 5px;
    margin-top: 8px;
}

.row2 {

    width: 100%;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 10.5pt;
}

.row2 .title {
    display: block;
    float: right;
    margin-left: 10px;
    margin-right: 10px;

}

.row2 select {
    float: right;
    margin-right: 6px;
    font-size: 10pt;
    min-width: 100px;
}

h3 {
    font-size: 13pt;
    border-bottom: 1px solid #ccc;
}

.row2 input[type=text] {
    width: 200px;
    border: 1px solid #eee;
    float: right;
    height: 20px;
    padding: 4px;
    margin-right: 10px;
}

.w120 {
    width: 120px;
}

/* checkout creditcard style */

/* checkout index style */
#main::after {
    content: " ";
    clear: both;
    display: block;
}

#main {
    font-family: yekan;
}

.head {
    float: right;
    margin-top: 36px;
    width: 100%;
}

.head h4 {
    font-size: 12.5pt;
    font-family: yekan;
    margin-top: 5px;
    padding-right: 10px;
    float: right;
}

.btn_green {
    background: #36be2b none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #ccc;
    color: #fff;
    display: inline-block;
    font-family: yekan;
    font-size: 11pt;
    height: 37px;
    line-height: 34px;
    text-align: center;
    width: 170px;
    border-radius: 4px;
}

.head .btn_green {
    float: left;
    margin-left: 5px;
    margin-top: 8px;
}

.order-steps {

    padding-left: 10px;
    padding-right: 200px;
    padding-top: 53px;
    height: 100px;
    font-family: yekan;
}

.order-steps .dashed {

    float: right;
    margin-top: 12px;
    margin-left: 4px;
}

.order-steps .dashed span {
    width: 11px;
    height: 3px;
    background: blue;
    display: block;
    float: right;
    margin-left: 3px;
}



.order-steps ul li {

    display: block;
    float: right;
    height: 1px;
    position: relative;
    width: 180px;

}

.order-steps ul li .circle {

    width: 19px;
    height: 19px;
    display: block;
    border: 3px solid #ccc;
    border-radius: 100%;
    position: absolute;
}

.order-steps ul li.active .circle {

    border: 3px solid #2396f3;
    background: #2396f3 url(../public/images/slices.png) no-repeat -810px -476px;
    border-radius: 100%;
    position: absolute;
}

.order-steps ul li .line {

    width: 128px;
    height: 2px;
    display: block;
    background: #ccc;
    position: absolute;
    right: 36px;
    top: 15px;

}

.order-steps ul li.active .line {

    background: #2396f3;

}

.order-steps ul li .title {

    font-size: 11.7pt;
    position: absolute;
    right: -41px;
    top: 27px;
    width: 146px;
}

.order-steps ul li.active .title {

    color: #2396f3;
}

/* checkout index style */

/* checkout showerror style */

#main::after {
    content: " ";
    clear: both;
    display: block;
}

#main {
    font-family: yekan;
}

.head {
    float: right;
    margin-top: 36px;
    width: 100%;
}

.head h4 {
    font-size: 12.5pt;
    font-family: yekan;
    margin-top: 5px;
    padding-right: 10px;
    float: right;
}

.btn_green {
    background: #36be2b none repeat scroll 0 0;
    box-shadow: 1px 1px 3px #ccc;
    color: #fff;
    display: inline-block;
    font-family: yekan;
    font-size: 11pt;
    height: 37px;
    line-height: 34px;
    text-align: center;
    width: 170px;
    border-radius: 4px;
}

.head .btn_green {
    float: left;
    margin-left: 5px;
    margin-top: 8px;
}

.error {
    border: 1px solid red;
    text-align: center;
    font-size: 12pt;
    color: red;
    font-family: yekan;
    padding: 8px;
}

/* checkout showerror style */


/* index direct_access style */
.direct-access {
    width: 290px;
    height: 190px;
    display: block;
    float: right;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
    margin-top: 10px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 10px;

}

/* index direct_access style */

/* index onlymehrshop style */

.sliderscroll {
    height: 270px;
    width: 890px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
    margin: 10px 0;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
}

.sliderscroll h3 {
    background: #D6C6E1;
    height: 35px;
    padding-right: 10px;
    padding-top: 7px;
    font-size: 10.5pt;
    margin: 0;
    font-weight: normal;
}

.sliderscroll_prev,
.sliderscroll_next {
    width: 55px;
    height: 100%;
    float: right;
}

.sliderscroll_main {
    width: 780px;
    height: 100%;
    float: right;
    overflow: hidden;
}

.sliderscroll_prev .prev {
    width: 15px;
    right: 15px;
    height: 42px;
    background: url(../public/images/slices.png) no-repeat;
    background-position: -852px -677px;
    display: block;
    position: relative;
    top: 100px;
    cursor: pointer;
}

.sliderscroll_next .next {
    width: 15px;
    right: 15px;
    height: 42px;
    background: url(../public/images/slices.png) no-repeat;
    background-position: -812px -677px;
    display: block;
    position: relative;
    top: 100px;
    cursor: pointer;
}

.sliderscroll .sliderscroll_main ul {
    padding: 0;
    height: 100%;

}

.sliderscroll .sliderscroll_main ul li {
    margin: 10px 0;
    padding: 0;
    width: 195px;
    height: 100%;
    float: right;
}

.sliderscroll .sliderscroll_main ul li a {
    display: block;
    height: 100%;
    text-align: center;
}

.sliderscroll .price {
    color: green;
    font-size: 13pt;
}

.sliderscroll p {
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

/* index onlymehrshop style */

/* index services_feature style */
#sercices-feature {
    width: 890px;
    background: #fff;
    height: 76px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    margin: 7px 0;
    overflow: hidden;
}

#sercices-feature ul {
    padding: 0;
    height: 100%;
}

#sercices-feature ul li {
    width: 178px;
    float: right;
    height: 100%;
}

#sercices-feature ul li a {
    display: block;
    font-size: 10pt;
    height: 100%;
    line-height: 72px;
    padding: 0 10px;
}

#sercices-feature ul li a i {
    display: inline-block;
    float: right;
    height: 24px;
    margin-left: 8px;
    margin-top: 22px;
    width: 24px;
    background: url(../public/images/slices.png) no-repeat;
}

/* index services_feature style */

/* index sidebar_right style */
#sidbar_right {
    width: 290px;
    float: right;
}

#digikala_tv li {
    margin-bottom: 8px;
}

#digikala_tv li a {
    position: relative;
    display: block;
}

#digikala_tv li a .image {
    width: 100%;
    height: 160px;
    border-radius: 4px;
}

#digikala_tv li a::before {
    content: " ";
    width: 100%;
    height: 160px;
    background: rgba(0, 0, 0, .3);
    display: block;
    position: absolute;
    border-radius: 4px;

}

#digikala_tv li .circle {
    transition: all 1s ease;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 48px;
    left: 0;
    right: 0;
    margin: auto;
    background: rgba(255, 255, 255, .3);
    text-align: center;
}

#digikala_tv li:hover .circle {
    background: rgba(255, 255, 255, .5) !important;
}

#digikala_tv li .play_icon {
    margin: auto;
    margin-top: 23px;
}

#sidebar_right_ul li img {
    width: 290px;
    height: 265px;
}

#sidebar_right_ul li {
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
    border-radius: 4px;
    overflow: hidden;
    height: 265px;
    margin-bottom: 4px;
}

#last_news_sidebar {
    width: 290px;
    background: #fff;
    margin-top: 10px;
}

#last_news_sidebar {
    border-radius: 4px;
    margin-top: 10px;
    overflow: hidden;
}

#last_news_sidebar h3 {
    background: #D6C6E1;
    height: 40px;
    padding-right: 10px;
    line-height: 36px;
    margin: 0;
}

#last_news_sidebar ul li a {
    padding: 8px;
    display: block;
    float: right;
}

#last_news_sidebar .col-right {
    float: right;
}

#last_news_sidebar .col-right img {
    border-radius: 50%;
}

#last_news_sidebar .col-left {
    float: right;
    padding-right: 13px;
    width: 190px;
}

#last_news_sidebar p {
    margin: 0;
}

#brands_sidebar a {
    display: block;
    width: 140px;
    height: 95px;
    background: #fff;
    float: right;
    margin-left: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
    vertical-align: middle;
    line-height: 110px;
}

#brands_sidebar a img {
    width: 100%;
}

#brands_sidebar a:nth-child(even) {
    float: left;
    margin-left: 0;
}

/* index sidebar_right style */

/* index sider1 style */
#slider {
    height: 310px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(255, 255, 255, .3);
    background: #fff;
}

#slider_img {
    height: 260px;
}

#slider_img img {
    height: 260px;
    width: 100%;
}

#slider_img a {
    display: none;
}

#slider_navigator {
    height: 50px;
    background: var(--primary-color);
}

#slider #prev {
    width: 19px;
    height: 33px;
    display: block;
    position: absolute;
    top: 130px;
    right: 15px;
    background: url(public/images/arrow_slider.png) no-repeat;
    background-position: 0 -33px;
    cursor: pointer;
    z-index: 2;
}

#slider #next {
    width: 19px;
    height: 33px;
    display: block;
    position: absolute;
    top: 130px;
    left: 15px;
    background: url(public/images/arrow_slider.png) no-repeat;
    cursor: pointer;
    z-index: 2;
}

#slider #slider_navigator ul {
    height: 100%;
    padding: 0;
}

#slider #slider_navigator ul li {
    width: 178px;
    height: 100%;
    float: right;
}

#slider #slider_navigator ul li a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 45px;
    color: #fff;
    cursor: pointer;

}

#slider #slider_navigator .active>a {

    background: var(--button-color);
    color: #fff;
    position: relative;
}

#slider #slider_navigator .active>a::after {

    content: " ";
    position: absolute;
    top: -13px;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12.5px 13px 12.5px;
    border-color: transparent transparent var(--button-color) transparent;
}
/* index sider1 style */


/* index sider2 style */
#slider2 {
    width: 890px;
    height: 304px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.19);
    margin-top: 8px;
    position: relative;
}

#slider2_content {
    width: 705px;
    float: right;
    height: 100%;
    background: url(public/images/slider2_bg.jpg) no-repeat;
}

#slider2_navigator {
    width: 184px;
    border-right: 1px solid #ccc;
    height: 100%;
    float: left;
    background: var(--primary-color);
}

#slider2_content a {
    display: block;
    height: 100%;
}

#slider2_content a #slider2_content_left img {
    width: 220px;
    margin-right: 40px;

}

#slider2_navigator ul {
    padding: 0;
}

#slider2_navigator ul li {
    height: 38px;
}

#slider2_navigator ul li a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: yekan;
    font-size: 10pt;
    line-height: 37px;
    cursor: pointer;
}

.slider2_content_right {
    width: 400px;
    height: 100%;
    float: right;
}

.slider2_content_left {
    width: 305px;
    height: 100%;
    float: left;
}

.slider2_content_right .title {
    color: red;
    font-family: yekan;
    font-size: 14pt;
    padding-right: 30px;
    padding-top: 10px;
}

.slider2_content_right .price_info {
    height: 35px;
    margin-right: 30px;
}

.price_info_old {
    width: 75px;
    height: 100%;
    background: #ccc;
    float: right;
    position: relative;
    color: #fff;
    text-align: center;
}

.price_info_old::after {
    content: " ";
    position: absolute;
    left: -11px;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #cccccc transparent transparent;
    z-index: 2;

}

.price_info_old::before {

    border-bottom: 1px solid #000;
    content: " ";
    height: 0;
    position: absolute;
    right: 1px;
    top: 17px;
    transform: rotate(-30deg);
    width: 95%;

}

.price_info_new {
    width: 155px;
    height: 100%;
    background: red;
    float: right;
    margin-right: 2px;
    position: relative;
    color: #fff;
    text-align: center;
}

.price_info_new::before {
    content: " ";
    position: absolute;
    right: 0;
    top: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 12px 8px 0;
    border-color: transparent #ffffff transparent transparent;

}

.flipTimer {
    position: absolute;
    top: 190px;
    right: -130px;
    transform: scale(.3);
}

.flipTimer,
.flipTimer div {
    direction: ltr !important;
}

.slider2_finished {
    width: 705px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, .01);
    color: red;
    font-size: 35pt;
    line-height: 235px;
    text-align: center;
    display: none;
    z-index: 2;

}

#slider2_navigator .active {
    background: var(--button-color);
    color: #fff;
    position: relative;
}

#slider2_navigator .active::after {

    content: " ";
    position: absolute;
    right: -17px;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 19px 0 19px 17px;
    border-color: transparent transparent transparent var(--button-color);

}
/* index sider2 style */

/* login index style */
    .header {
        height: 120px;
        background: #D6C6E1;
        text-align: center;
        padding-top: 15px;
    }

    .header i {
        width: 70px;
        height: 52px;
        background: url(../public/images/slices.png) no-repeat -870px -89px;
        margin: auto;
        display: block;
    }

    .header h2 {
        font-size: 14pt;
        text-align: center;
    }

    .header .left,
    .header .right {
        width: 40%;
        float: right;
    }

    .header .left {

        line-height: 52px;
    }

    .header .right {
        padding-right: 40px;
        padding-top: 32px;
    }

    .header label {
        display: inline-block;
        font-size: 10.5pt;
        width: 150px;
    }

    .header .right>div {
        margin-top: 25px;
        font-size: 10.3pt;
    }

    .header .btn {
        background: var(--button-color) none repeat scroll 0 0;
        float: left;
        height: 38px;
        margin-top: 8px;
        margin-left: 190px;
        width: 110px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
        text-align: center;
        color: #fff;
        line-height: 32px;
        font-size: 10pt;
    }

    .check_label {
        border: 1px solid #E9E4ED;
        border-radius: 1px;
        display: block;
        height: 14px;
        position: absolute;
        right: 3px;
        top: 5px;
        width: 14px !important;
    }

    .check_label.checked {
        background: url(../public/images/slices.png) #595ce1 no-repeat -193px -82px;
        border: none;
    }

    .check_div {
        position: relative;
    }

    .check_input {
        display: inline-block;
        height: 16px;
        margin: 0;
        opacity: 0;
        position: relative;
        right: 1px;
        top: 2px;
        width: 16px;
        z-index: 2;
        cursor: pointer;
        margin-left: 30px;
    }
    .header .left ul {
        padding: 0;
    }

    .header .left li {
        font-size: 10.6pt;
    }

    .header .left li i {
        background: url(../public/images/slices.png);
        display: inline-block;
        height: 27px;
        margin-left: 21px;
        position: relative;
        top: 8px;
        width: 27px;
    }
/* login index style */